{% extends 'main.html' %}
{% load static %}

{% block content %}
    <main class="layout layout--3">
      <div class="container">
        
        <!-- Topics Start -->
        {% include 'base/topics_component.html' %}
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
          <div class="mobile-menu">
        
            <div class="mobile-menuItems">
              <a class="btn btn--main btn--pill" href="{% url 'topics' %}">Browse Topics</a>
              <a class="btn btn--main btn--pill" href="{% url 'activity' %}">Recent Activities</a>
            </div>
          </div>

              <h1> Explore Page</h1>

          <div class="img">

            <img src="{% static "images/function.png" %}" />
          </div>

          <div class="room__details">
              SenTweets is a project created to show the sentiment or the emotion of the public towards using tweets on War on Drugs from year 2016 to 2020. Let's explore on how can we use SenTweets!
          </div>
          <br>
        <!-- Login and Registration Page -->
          <div class="topics__header">
            <h2>Login & Registration Page</h2>
          </div>

          <div class="img">
            <img src="{% static "images/loginindicatorsample.png" %}" />
          </div>
          <div class="room__details">
            The highlighted part on the top right of the page is where we can locate the login and registration page of SenTweets.
          </div>
          <div class="img">
            <img src="{% static "images/loginsample.png" %}" />
          </div>
          <div class="room__details">
            Once clicked it will show the login page, where the user can login the credentials. If they don't have any credentials they can click the Sign Up button to create an account. 
          </div>
          <div class="img">
            <img src="{% static "images/registersample.png" %}" />
          </div>
          <div class="room__details">
            After the Sign Up button has been clicked, they can fill in their details and they will directed to the homepage of SenTweets.
          </div>
          <br>
          <!-- Homepage Page -->
          <div class="topics__header">
            <h2>Homepage</h2>
          </div>

          <div class="img">
            <img src="{% static "images/homepagesample.png" %}" />
          </div>
          <div class="room__details">
            User will be directed to the homepage for default, and it is consisted of three parts.
          </div>
          <br>
          <!-- Topic homepage Page -->
          <div class="topics__header">
            <h2>Browse Topics</h2>
          </div>
          <div class="img">
            <img src="{% static "images/hometopicsample.png" %}" />
          </div>
          <div class="room__details">
            The highlighted part shows the topics that are available on SenTweets, the users can click topics or click more to see all available topics.
          </div>
          <div class="img">
            <img src="{% static "images/browsetopics.png" %}" />
          </div>
          <div class="room__details">
            Users can select the topics available and after selecting a topic it will show all discussion on the Topic Discussions on the homepage.
          </div>

          <br>
          <!-- Topic Discussions homepage Page -->
          <div class="topics__header">
            <h2>Topic Discussions</h2>
          </div>
          <div class="img">
            <img src="{% static "images/discussionpagesample.png" %}" />
          </div>
          <div class="room__details">
            After selecting a topic it will show all topic discussions available from the topic, and users can select a discussion from the topic. Users can just select the discussion name and it will be directed to the discussion page.
          </div>
          <div class="img">
            <img src="{% static "images/discussionroomsample.png" %}" />
          </div>
          <div class="room__details">
            Users can see the discussion for the given topic and they can also comment below to give feedback to the developers and interact with other users.
          </div>

          <br>
          <!-- Recent Activities homepage Page -->
          <div class="topics__header">
            <h2>Recent Activities
            </h2>
          </div>
          <div class="img">
            <img src="{% static "images/recentactivitiessample.png" %}" />
          </div>
          <div class="room__details">
            On the highlighted part of the page. It illustrates user interactions to each topic discussions, users interaction will be registered to the Recent Activities part of the page. 
          </div>
          
          <br>
          <br>


          <div class="room__details">
            Visit our  <a class="btn btn--link" href="{% url 'topics' %}">
              Topics </a>
            to know more about SenTweets' discussions.
          </div>
        
  

        </div>
        <!-- Room List End -->

        <!-- Activities Start -->
        {% include 'base/activity_component.html' %}
      
        <!-- Activities End -->
      </div>
    </main>

  {% endblock %}

